.details-container {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  line-height: 2em;
}

.avatar {
  margin-bottom: 10px;
  border-radius: 3%;
  width: 210px;
  height: 210px;
}

.details-name {
  font-size: 1.5em;
  font-weight: bolder;
}
