<div class="profile-container">
  <ng-container *ngIf="profile$ | async as profile; else loadingOrErrorTemplate">
    <mat-card class="profile-card">
      <mat-card-title class="profile-card-title">
        <mat-card-title>
          Your profile
        </mat-card-title>
        <mat-card-subtitle>Home for everything related to YOU.</mat-card-subtitle>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content class="profile-card-content">
        <div class="profile-card-content__first-section">
          <profile-details [profile]="profile" class="profile-avatar"></profile-details>
          <mat-tab-group class="profile-tabs">
            <mat-tab label="Posts">
              <profile-posts [posts]="profile.latest_posts"></profile-posts>
            </mat-tab>
            <mat-tab label="Education">
              <profile-item-list [items]="profile.education" [template]="educationTemplate"></profile-item-list>
              <ng-template #educationTemplate let-item>
                <mat-list-item>
                  <mat-icon mat-list-icon>book</mat-icon>
                  <h4 mat-line>{{item}}</h4>
                </mat-list-item>
              </ng-template>
            </mat-tab>
            <mat-tab label="Work">
              <profile-item-list [items]="profile.work" [template]="workTemplate"></profile-item-list>
              <ng-template #workTemplate let-item>
                <mat-list-item>
                  <mat-icon mat-list-icon>work_outline</mat-icon>
                  <h4 mat-line>{{item}}</h4>
                </mat-list-item>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
        <profile-connections [connections]="profile.top_connections"></profile-connections>
      </mat-card-content>
      <mat-card-footer class="profile-card-footer">
        <mat-divider></mat-divider>
        <span class="profile-card-footer__copy">Athenasis 2018</span>
      </mat-card-footer>
    </mat-card>
  </ng-container>

  <ng-template #loadingOrErrorTemplate>
    <ng-container *ngIf="loadingError$ | async; else loadingTemplate">
      <p>Can not load profile.</p>
      <p><a href="https://www.google.com">Go Home</a></p>
    </ng-container>
    <ng-template #loadingTemplate>
      <mat-spinner color="accent"></mat-spinner>
    </ng-template>
  </ng-template>
</div>
